::-webkit-scrollbar {
  display: none;
}

a {
  color: #304f37;
}

button {
  color: white;
  font-family: Mulish, serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.5%;
  text-align: center;
}

h1 {
  text-align: center;
  font-family: "Lora";
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: 0.5%;
  margin-top: 10px;
  margin-bottom: 50px;
}

.gallery {
  margin: 100px;
  columns: 5 100px;
  margin-bottom: 30px;
  gap: 5px;
}

.gallery img {
  width: 100%;
  border-radius: 15px;
}

.ig {
  margin-top: 90px;
  margin-left: 1170px;
}

.hero,
.heroSection {
  width: 100%;
  background-image: linear-gradient(
      rgba(26, 138, 182, 0.5),
      rgba(21, 122, 161, 0.507)
    ),
    url("https://s3-alpha-sig.figma.com/img/673f/2e91/1bcc8157232409198c246b045a73b73f?Expires=1742774400&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=hBBh0987JDaDTt9HKTuQXB9XBeUMvHwrTlImQjQNyr9WBvx0d9hdYL8HDMd~5KY9-UqUEtWGlX6P1AELhP7UiuMTFjBoLcHl5udGPR4CXeeE8I9Qc9DKcmhIaYxQNKHpTvE3JqO64hYyaBN6D-V~v6xLktCiCZay6U1FqKReETQ8f0-xHS63zECfkO68rUi3a2PpEtAXlPaNLOumeeGUPfa9D9nSLcKF5k-St3VrfFDsymlNVeYPwo82XjM2ATf-kF9dWe5Mog2ObkFSWQaLfj8Oa8e1ZEELEC-1mUYx86iNDhuoz~iuLquRq-HKju-r0PaB7CuPPpYzzIOW7XJepQ__");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin-top: 25px;
}

.hero1 {
  display: flex;
  margin: 90px 80px 0 80px;
  justify-content: space-between;
}

.search {
  display: flex;
  justify-content: space-around;
  background-color: #304f37;
  width: 63%;
  padding: 20px;
  margin-left: 17%;
  margin-top: -35px;
  border-radius: 5px;
}

.icon {
  height: 20px;
  margin-top: 13px;
  margin-left: -30px;
}

.cate {
  display: flex;
  gap: 50px;
  margin: 0px 35px 0px 35px;
}

.cate img {
  height: 10px;
  margin: 0;
}

#search {
  width: 220px;
  padding-left: 10px;
}

h6 {
  color: grey;
  font-size: medium;
  margin-bottom: 5px;
}

h4 {
  color: white;
}

h3 {
  font-family: "Lora";
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  color: #c7923e;
  text-align: center;
  margin-top: 70px;
}

.direct {
  justify-content: end;
  display: flex;
  margin-right: 50px;
  margin-bottom: 30px;
}

.place h1 {
  font-family: "Lora";
  font-weight: 700;
  font-size: 39px;
  line-height: 120%;
  letter-spacing: 0.5%;
  width: 290px;
  height: 47px;
  margin-top: -25px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.dest {
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
  gap: 50px;
  margin-left: 30px;
}

.place img {
  width: 100%;
  height: 300px;
  top: 2921px;
  left: 78px;
  border-radius: 50px;
  border: 5px solid #304f47;
  margin-bottom: 40px;
}

.place p {
  width: 248px;
  height: 80px;
  top: 3325px;
  left: 750px;
  font-family: "Mulish";
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
  letter-spacing: 0.5%;
  color: #9a9ab0;
  margin-left: 20px;
  padding-bottom: 30px;
}

.choose {
  display: flex;
  justify-content: space-evenly;
}

.react {
  background-color: #304f37;
  width: 250px;
  padding: 20px;
  border-radius: 10px;
}

.react p {
  text-align: center;
  color: white;
  font-size: large;
  font-weight: bold;
  margin-top: 5px;
}

.react img {
  height: 50px;
  margin-left: 100px;
}

.test {
  display: flex;
  justify-content: space-evenly;
}

.tcard {
  background-color: white;
  box-shadow: grey 1px 2px 4px 1px;
  width: 300px;
  margin-bottom: 30px;
  height: max-content;
  padding-bottom: 50px;
}

.tcard p {
  text-align: center;
  font-size: large;
  color: grey;
}

.tcard h3 {
  font-weight: bold;
  color: black;
  margin-bottom: 20px;
  margin-top: 10px;
}

.tcard img {
  height: 200px;
  padding-left: 50px;
}

.empty {
  display: flex;
  justify-content: center;
}

.gold {
  background-color: goldenrod;
  width: 60px;
  height: 10px;
  margin-bottom: 200px;
  margin-left: 30px;
}

.green {
  background-color: #304f37;
  width: 60px;
  height: 10px;
  margin-bottom: 200px;
  margin-left: 30px;
}

.white {
  color: white;
}

.cate1 {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 0px 35px 0px 35px;
}

.cate1 img {
  height: 10px;
  margin: 0;
  text-align: center;
}

h4 {
  color: black;
}

.grid {
  display: grid;
  grid-template-columns: 5fr 2fr;
}

.grid2 img {
  width: 100%;
  position: relative;
  z-index: 1;
}

.grid1 p {
  margin-left: 100px;
  margin-bottom: 70px;
}

.grid1 h1 {
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 60px;
  text-align: center;
  width: 635px;
}

.btn {
  background-color: #304f37;
  position: relative;
  z-index: 2;
  border-radius: 5px;
  height: 40px;
  width: 120px;
  padding: 0;
  margin-right: -70px;
  box-shadow: 4px 1px 1px 10px white;
}

.cat1 {
  display: flex;
  justify-content: space-between;
  margin-left: 60px;
}

h2 {
  background-color: #304f37;
  width: 20%;
  height: 5px;
  margin-left: 550px;
}

.hed {
  margin-bottom: 20px;
  margin-top: 100px;
  font-size: 60px;
  text-align: center;
}

.part {
  display: flex;
  justify-content: space-evenly;
  margin: 70px;
}

.part p {
  font-family: "Mulish";
  font-weight: 400;
  font-size: 24px;
  line-height: 125%;
  width: 480px;
  height: 313px;
  padding-top: 30px;
}

.part img {
  width: 500px;
  height: 320px;
  top: 1214px;
  left: 103px;
}

.head {
  background-color: #304f37;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  font-weight: bold;
  color: white;
}

.contact {
  display: flex;
}

.contact p {
  font-family: "Podkova", serif;
  font-weight: 400;
  font-size: 100%;
  line-height: 13.3px;
  letter-spacing: 0%;
  margin-top: 1.5%;
  margin-left: 5px;
}

a {
  text-decoration: none;
}

/* nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 2;
} */

.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2%;
  margin-right: 2%;
}

.pat {
  display: flex;
  gap: 10px;
  margin-left: -48%;
}

.pat p {
  font-family: "Mulish";
  font-weight: 500;
  margin-top: 30px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5%;
  color: #000000b2;
}

.pat p:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-skip-ink: none;
}

.sign {
  border-radius: 5px;
  border-width: 1px;
  padding-top: 11px;
  padding-right: 24px;
  padding-bottom: 11px;
  padding-left: 24px;
  gap: 10px;
  border: solid #304f37 1px;
  font-family: "Mulish";
  font-weight: 600;
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: 0.5%;
  text-align: center;
  margin-top: 21px;
}

.find img {
  height: 30px;
  margin-left: 600px;
  margin-right: 20px;
  margin-top: 20px;
}

* {
  margin: 0;
  padding: 0;
}

.footer {
  display: flex;
  justify-content: space-around;
}

footer {
  background-color: #304f37;
  color: white;
  padding: 30px;
}

.last {
  margin-left: 260px;
  font-size: larger;
}

footer h1 {
  font-family: "Lora", sans-serif;
  font-weight: 700;
  font-size: 39px;
  line-height: 46.8px;
  letter-spacing: 0.5%;
}

footer p {
  font-family: "Mulish";
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.5%;
  margin-top: 10px;
}

footer span {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

button {
  background-color: #c7923e;
  border: transparent;
  border-radius: 5px;
  width: max-content;
  font-size: large;
  padding: 15px;
}

.media img {
  height: 50px;
}

#logo {
  height: 80px;
}

button img {
  height: 15px;
}

.images {
  display: flex;
  justify-content: space-around;
}

.list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

ul {
  list-style-type: none;
}

.first {
  margin-top: 15px;
  margin-bottom: 20px;
}

ul li {
  margin-top: 10px;
}

.last {
  margin-top: 50px;
  margin-left: 450px;
  font-weight: bolder;
}

.info {
  font-weight: bolder;
  margin-bottom: 20px;
}

h5 {
  font-weight: bold;
  font-size: large;
  margin-bottom: 30px;
}

input {
  padding-top: 7px;
  padding-bottom: 7px;
  border: transparent;
  border-radius: 5px;
  margin-right: 5px;
  padding-left: 5px;
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  border: 1px solid #e1e1e1;
  width: 350px;
  height: 584px;
  border-width: 1px;
  border-radius: 8px;
  margin-bottom: 35px;
  padding-bottom: 20px;
}

.container img {
  width: 350px;
  height: 350px;
  margin-bottom: 20px;
}

.card button {
  color: white;
  margin-top: 20px;
  margin-left: 10px;
}

.card h1 {
  font-family: "lora";
  font-weight: 1000;
  font-size: 24px;
  width: 322px;
  text-align: left;
  margin-bottom: 15px;
  padding-left: 10px;
}

.card p {
  width: 256px;
  height: 100px;
  top: 1666px;
  left: 119px;
  font-family: "Mulish";
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 0;
  padding-left: 10px;
}

.con2 {
  font-family: "Mulish";
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.5%;
  width: 1118px;
  height: 90px;
  margin-left: 150px;
  text-align: center;
  margin-bottom: 100px;
}

.con1 {
  font-family: "Lora";
  font-weight: 700;
  font-size: 62px;
  line-height: 74.4px;
  letter-spacing: 0.3%;
  height: 74px;
  margin-top: 100px;
  margin-bottom: 20px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 500px;
  border: solid lightgrey 1px;
  padding: 50px;
  border-radius: 5px;
  margin: auto;
  height: max-content;
  margin-bottom: 40px;
}

form h5 {
  font-family: "Lora";
  font-weight: 700;
  font-size: 24px;
  line-height: 28.8px;
  letter-spacing: 0.5%;
}

select {
  width: 60px;
  border: solid lightgrey 1px;
  height: 48px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #e1e1e1;
}

input {
  border: solid lightgrey 1px;
  height: 30px;
  padding-left: 15px;
}

#tel {
  width: 430px;
  margin-left: 58px;
  margin-top: -48px;
  border-left: solid #e1e1e1 1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 32px;
}

#message {
  height: 100px;
  margin-bottom: 50px;
}

label {
  font-family: "Mulish";
  font-weight: 700;
  font-size: 16px;
  line-height: 19.2px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #11142d;
}

.inform {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 30px;
}

.social {
  background-color: #ffffff;
  height: max-content;
  padding: 20px;
  border-radius: 15px;
  box-shadow: #252525 1px 1px 10px 1px;
}

.inform p {
  font-size: x-large;
  margin-left: 15px;
  color: #304f47;
}

.contact1 {
  display: flex;
}

.inform h1 {
  font-family: "Lora";
  font-weight: 700;
  font-size: 24px;
  line-height: 28.8px;
}

.phone {
  background-color: #ffffff;
  height: max-content;
  padding: 20px;
  border-radius: 15px;
  box-shadow: #252525 1px 1px 10px 1px;
}

.phone p {
  font-family: "Podkova";
  font-weight: 400;
  font-size: 16px;
  line-height: 17.73px;
  letter-spacing: 0%;
}

.add {
  background-color: #ffffff;
  height: max-content;
  padding: 20px;
  border-radius: 15px;
  box-shadow: #252525 1px 1px 10px 1px;
}

.add p {
  font-family: "Podkova";
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0%;
}

.flex {
  display: flex;
  margin-top: 10px;
}

.flex svg {
  height: 40px;
  margin-top: -10px;
}

.flex-1 {
  display: flex;
  margin-top: -20px;
  margin-bottom: 10px;
}

.flex-1 svg {
  height: 40px;
  margin-top: -10px;
}

svg {
  margin-left: 10px;
}

.first-last {
  display: flex;
}

.first-last input {
  width: 240px;
}
/* 
.hero,
.heroSection {
  margin-top: 100px;
} */

.hero h1 {
  font-size: 50px;
  width: 669px;
  font-family: "Lora";
  font-weight: 700;
  line-height: 74.4px;
  color: #ffffff;
  padding-top: 200px;
  margin-top: 0;
  margin-bottom: 0;
}

.heroSection h1 {
  font-family: "Lora";
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
  letter-spacing: 0.3%;
  text-align: center;
  padding-top: 250px;
  margin-top: 0;
  margin-bottom: 0;
  color: #ffffff;
}

.hero p {
  padding-left: 150px;
  font-family: "Mulish";
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  color: white;
  padding-top: 2px;
}

.heroSection p {
  font-family: "Lora";
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0.5%;
  color: white;
  padding-top: 2px;
  text-align: center;
}

.hero span {
  color: goldenrod;
}

.heroSection span {
  color: goldenrod;
}

.hero img {
  height: 30px;
}

.heroSection img {
  height: 30px;
}

.change {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.change img {
  height: 40px;
  padding: 10px;
}

nav svg {
  display: none;
}

@media (max-width: 768px) {
  body {
    font-size: 16px;
  }

  * {
    overflow-x: hidden;
  }

  .head {
    padding: 10px;
  }

  .contact {
    flex-direction: column;
  }

  h1 {
    font-size: 25px;
    margin: 10px 0;
  }

  h3 {
    font-size: 24px;
    margin-top: 40px;
  }

  nav svg {
    display: flex;
    /* margin-left: 130px; */
    margin-top: 24px;
    cursor: pointer;
  }

  nav img {
    width: 295px;
  }

  #logo {
    margin-top: 10px;
    width: 67px;
  }

  .pat {
    display: none;
    flex-direction: column;
    width: 100%;
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 10px 0;
    height: 420px;
    margin-top: 28px;
    margin-left: 3px;
    padding: 0px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
  }
  .l {
    width: 100%;
    display: flex;
    justify-content: space-between;
    img {
      margin: 0%;
    }
  }

  .pat.active {
    display: flex;
  }
  .sign {
    display: none;
  }

  .link {
    flex-direction: column;
    margin-right: 2%;
  }
  .hero,
  .heroSection {
    width: 90%;
    height: auto;
    padding: 50px 20px;
    text-align: center;
    background-size: cover;
  }

  .hero h1,
  .heroSection h1 {
    font-size: 28px;
    line-height: 40px;
    width: auto;
    margin-top: -140px;
  }

  .hero p,
  .heroSection p {
    font-size: 13px;
    padding: 10px;
    margin-top: -15px;
  }

  .heroSection img {
    height: 15px;
    margin: 0 6px;
  }
  .hero1 {
    margin: 50px 0 0 0;
  }

  .gallery {
    columns: 3 auto;
    margin: 20px;
  }

  .search {
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: auto;
  }

  .search button {
    width: 90%;
  }

  #search {
    width: 100%;
  }

  .icon {
    margin-top: -35px;
    margin-left: 230px;
    margin-bottom: 25px;
  }

  h6 {
    font-size: 20px;
    text-align: center;
  }

  h4 {
    font-size: 15px;
    margin-top: 12px;
    text-align: center;
    margin-bottom: 20px;
  }

  .cate {
    gap: 25px;
    width: 325px;
    justify-content: center;
  }

  .cate h4 {
    width: 120px;
  }

  .cate1 {
    margin: -35px 0 0 -70px;
  }

  .cat1 {
    flex-direction: column;
  }

  .cat1 button {
    width: 90%;
    position: relative;
    z-index: 1;
  }

  .dest {
    gap: 20px;
    flex-direction: column;
    margin-left: 35px;
  }

  .dest img {
    width: 90%;
  }

  .place h1 {
    font-size: 24px;
    width: auto;
    text-align: center;
  }

  .place p {
    font-size: 16px;
    text-align: center;
  }

  .choose {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .react {
    text-align: center;
  }

  .react img {
    margin-left: 0;
  }

  .test {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .tcard {
    padding: 20px;
  }

  .footer {
    flex-direction: column;
    text-align: center;
  }

  .last {
    margin-left: 0;
  }

  .inform {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .inform h1 {
    margin-bottom: 50px;
  }

  .con1 {
    font-size: 50px;
    margin-top: 30px;
  }

  .con2 {
    width: 90%;
    margin-left: 22px;
    text-align: center;
    margin-bottom: 210px;
  }

  .social,
  .phone,
  .add {
    width: 80%;
    text-align: center;
  }

  button {
    width: max-content;
    font-size: 18px;
    padding: 10px;
  }

  form {
    width: 80%;
    padding: 30px;
  }

  input {
    width: 310px;
  }

  #tel {
    width: 255px;
  }

  .name {
    display: flex;
    flex-direction: column;
  }
  .first-last {
    flex-direction: column;
  }

  .first-last input {
    width: 305px;
  }

  footer input {
    width: 200px;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .grid1 h1 {
    font-size: 36px;
    margin-left: -5px;
    text-align: center;
    width: 400px;
    margin-top: 105px;
  }

  .grid1 p {
    margin-left: -60px;
    text-align: center;
    margin-top: -10px;
  }

  .grid2 img {
    width: 100%;
  }

  .container {
    overflow: hidden;
    overflow-x: scroll;
    gap: 10px;
    margin-left: 10px;
    margin-top: 30px;
  }

  .card {
    height: 585px;
    width: 350px;
  }

  .card button {
    width: max-content;
  }

  .part {
    flex-direction: column;
    margin: 10px 0 70px 20px;
  }

  .part img {
    width: 100%;
    margin-left: -10px;
  }

  .ig {
    margin-left: 210px;
  }

  .part p {
    width: 360px;
    text-justify: distribute;
    margin-bottom: 70px;
  }

  h2 {
    width: 35%;
    margin-left: 130px;
    margin-bottom: 30px;
  }

  .hed {
    font-size: 40px;
  }

  .grid2 {
    display: none;
  }

  .media1 {
    margin-top: 25px;
  }

  nav {
    width: 100%;
  }
}
